    <div class="col s12 m3">
        <div class="card">
            <div class="card-image" align="center" style="padding-bottom: 10px">
                <div>
                    <div class="btn" align="right" id="{{documentname}}" ng-click="vm.deleteDocument(documentname)"
                         style="width: 100%; margin-bottom: 10px">DELETE</div>
                    <img src="img/document.png" style="width: 150px; height: 150px;">
                </div>
            </div>
            <div class="card-action">
                <a data-field="name"  ng-model="vm.document.name" id='documentname'>name</a>
            </div>
            <div class="card-content">
                <tr>
                    <th>Added:</th>
                    <th data-field="added">Date</th>
                </tr>
            </div>
            <div class="card-content">
                <tr>
                    <th>Status:</th>
                    <th data-field="status">Status</th>
                </tr>
            </div>
        </div>
    </div>
