<div id="forgotPassword">
    <div class="px-wrapper">
        <div class="px-logo">
            Project<span>X</span>
        </div>
        <div class="px-content">
            <div class="row">
                <form spellcheck="false">
                    <div class="input-field teal-text">
                        <input id="email" type="text"  readonly onfocus="this.removeAttribute('readonly');" ng-model="vm.user.email">
                        <label for="email">E-mail</label>
                    </div>
                </form>
                <div class="px-actions">
                    <div class="waves-effect waves-light btn" ng-click="vm.forgotPassword()">Reset Password</div>
                </div>
            </div>
        </div>
    </div>
</div>
