<div class="container">
    <div class="row">
        <div class="col s6">
            <table class="striped responsive">
                <thead>
                <tr>
                    <th data-field="user">Username</th>
                    <th data-field="role">Email</th>
                    <th data-field="role">Role</th>
                    <th data-field="role">Group</th>
                </tr>
                </thead>

                <tbody>
                <tr id="{{row.username}}" ng-repeat="row in vm.list" ng-click="vm.select(row)">
                    <td>{{row.username}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.role}}</td>
                    <td>{{row.roleInGroup}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col s6">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <h5 class="col s12">
                            <span ng-if="!vm.edit">Create</span>
                            <span ng-if="vm.edit">Update</span>
                            user
                            <a class=" btn-floating waves-effect waves-light" ng-click="vm.toggleCreate()">
                                <i class="material-icons">playlist_add</i>
                            </a>
                        </h5>
                        <div class="col s12">
                            <select ng-model="vm.user.role">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="USER">User</option>
                                <option value="MANAGER">Manager</option>
                                <option value="CONTRIBUITOR">Contribuitor</option>
                                <option value="ADMIN">Admin</option>
                            </select>
                            <label>Role</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" ng-model="vm.user.username">
                            <label id='username' for="last_name">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="text" class="validate" ng-model="vm.user.email" readonly>
                            <label id='email' for="last_name">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" ng-model="vm.user.firstName">
                            <label id='username' for="last_name">First Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" ng-model="vm.user.lastName">
                            <label id='username' for="last_name">Last Name</label>
                        </div>
                        <div class="input-field col s12" ng-if="!vm.edit">
                            <input id="last_name" type="password" class="validate" ng-model="vm.user.password">
                            <label for="last_name">Password</label>
                        </div>
                        <div class="col s12">
                            <a class="waves-effect waves-light btn " ng-if="vm.edit" ng-click="vm.update()">Update</a>
                            <a class="waves-effect waves-light btn red" ng-if="vm.edit"  ng-click="vm.remove()">Delete</a>
                            <a class="waves-effect waves-light btn" ng-if="!vm.edit">Create</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
